<mat-card class="example-card">
  <!-- <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header> -->
  <img mat-card-image [src]="album.images[0].url" [alt]="album.name" />
  <!-- <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content> -->
  <mat-card-header>
    <mat-card-title>{{ album.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-actions align="end">
    <!-- <button mat-button><mat-icon>heart</mat-icon></button> -->
    <button
      class="details-btn"
      mat-button
      [routerLink]="['/music/albums']"
      [queryParams]="{ id: album.id }"
    >
      Details
    </button>
  </mat-card-actions>
</mat-card>
