<div
  fxLayout="column"
  fxLayout.gt-xs="row wrap"
  fxLayoutAlign="start start"
  fxLayoutGap="16px"
>
  <div
    *ngFor="let item of results"
    fxFlex="0 1 calc((100% / 4) - 16px)"
  >
    <sages-album-card [album]="item" details></sages-album-card>
    <br>
  </div>
</div>
