<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px">
  <div fxFlex="50%">
    <sages-playlists-list *ngIf="playlists | async as playlist"
      (selectedChange)="select($event)"
      [selected]="(selected |async)?.id"
      [playlists]="playlist"
    ></sages-playlists-list>

    <sages-recent-searches></sages-recent-searches>
  </div>

  <ng-container [ngSwitch]="mode" *ngIf="selected | async as selected else noPlaylists">
    <div fxFlex="50%" *ngSwitchCase=" 'details' ">
      <sages-playlists-details [playlist]="selected" (onEdit)="editMode()">
      </sages-playlists-details>
    </div>

    <div fxFlex="50%" *ngSwitchCase=" 'edit' ">
      <sages-playlists-editor
        (onSave)="updatePlaylist($event)"
        (onCancel)="cancel()"
        [playlist]="selected"
      ></sages-playlists-editor>
    </div>
  </ng-container>
</div>

<ng-template #noPlaylists>
  <div fxFlex="50%">
    <p>Please select playlist</p>
  </div>
</ng-template>
