<sages-navigation>
  <ng-container ngProjectAs="header">
    <div
      fxFlex="100%"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="20px"
    >
      <span>{{ title }}</span>

      <div fxFlex="100"></div>

      <sages-recent-searches></sages-recent-searches>

      <ui-ui-widget></ui-ui-widget>

      <sages-clock></sages-clock>
    </div>
  </ng-container>

  <ng-container ngProjectAs="sidebar">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/music">Music Search 1</a>
      <a mat-list-item routerLink="/playlists">Playlists</a>
      <!-- <a mat-list-item routerLink="/">Link 3</a> -->
    </mat-nav-list>
  </ng-container>

  <router-outlet></router-outlet>
</sages-navigation>
