<form #formRef="ngForm" (ngSubmit)="submit()">
  <pre>{{ formRef.value | json }}</pre>

  <div
    fxLayout="column"
    fxLayoutAlign="space-between stretch"
    fxLayoutGap="20px"
  >
    <mat-form-field appearance="standard" fxFlex="100">
      <mat-label>Name:</mat-label>
      <input
        matInput
        placeholder="Name"
        [ngModel]="playlist.name"
        name="name"
        required
        minlength="3"
        #nameRef="ngModel"
      />
      <mat-error *ngIf="nameRef.hasError('required')"
        >Field is required</mat-error
      >
      <mat-hint data-testid="counter"> {{ nameRef.value?.length }} / 170</mat-hint>
    </mat-form-field>

    <div fxFlex="100">
      <mat-checkbox [ngModel]="playlist.public" name="public">
        Public</mat-checkbox
      >
    </div>

    <mat-form-field appearance="standard" fxFlex="100">
      <mat-label>Description:</mat-label>
      <textarea
        matInput
        placeholder="Description"
        [ngModel]="playlist.description"
        name="description"
      ></textarea>
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">
      <button mat-raised-button color="warn" type="button" (click)="cancel()">
        Cancel
      </button>
      <button mat-raised-button color="primary" type="submit">Save</button>
    </div>
  </div>
</form>
