
<mat-list>
  <mat-list-item>
    <span matLine>Name:</span>
    <span  data-testid="playlist_name">{{ playlist.name }}</span>
    <mat-divider></mat-divider>
  </mat-list-item>
  <mat-list-item>
    <span matLine>Public:</span>
    <span>{{ playlist.public ? 'Yes' : 'No' }}</span>
    <mat-divider></mat-divider>
  </mat-list-item>
  <mat-list-item>
    <span matLine>Description:</span>
    <span>{{ playlist.description }}</span>
  </mat-list-item>
</mat-list>

<div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">
  <button mat-raised-button color="primary" (click)="onEdit.emit()">
    Edit
  </button>
</div>
