<br />
<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px">
  <div fxFlex="100%">
    <h1>{{ (album | async)?.name }}</h1>
    <small>{{ album_id | async }}</small>
    <hr />
  </div>
</div>
<div
  fxLayout="row"
  fxLayoutAlign="start start"
  fxLayoutGap="20px"
  *ngIf="album | async as album"
>
  <div fxFlex="50%">
    <sages-album-card [album]="album"></sages-album-card>

    <mat-list>
      <mat-list-item>
        <span matLine>Artist</span>
        <span> {{ album.artists[0].name }} </span>
        <mat-divider></mat-divider>
      </mat-list-item>
      <mat-list-item>
        <span matLine>Release date</span>
        <span> {{ album.release_date }} </span>
        <mat-divider></mat-divider>
      </mat-list-item>
      <mat-list-item>
        <span matLine>Total tracks</span>
        <span> {{ album.total_tracks }} </span>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>

  <div
    fxFlex="50%"
    *ngIf="tracks | async as tracks"
    fxLayout="column"
    fxLayoutAlign="start stretch"
  >
    <audio
      #audioRef
      fxFlexAlign="center"
      [src]="(currentTrack | async)?.preview_url"
      controls="true"
      fxFlex="auto"
    ></audio>

    <sages-tracks-list
      (play)="playTrack($event)"
      [tracks]="tracks"
    ></sages-tracks-list>
  </div>
</div>
