<h2 class="mat-h2">Tracks</h2>
<mat-list *ngIf="tracks as tracks; else noTracks">
  <mat-list-item *ngFor="let track of tracks; index as i">
    <span matLine> {{ i + 1 }}. {{ track.name }} </span>
    <button mat-icon-button (click)="play.emit(track)">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>

<ng-template #noTracks>
  <mat-list-item> No Tracks </mat-list-item>
</ng-template>
