<mat-list>
  <mat-list-item *ngIf="playlists.length == 0"> No Playlists </mat-list-item>

  <mat-list-item
    *ngFor="let playlist of playlists; index as i"
    (click)="select(playlist)"
    [class.active]="playlist.id == selected"
  >
    <span matLine> {{ i + 1 }}. {{ playlist.name }} </span>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
